$br: 800px;

@media only screen and (min-width: $br){
  main {
    grid-template-columns: 60% 40%;
    grid-template-rows: max-content 1fr;
  }

  .logo {
    grid-row: 1;
    grid-column: 1;
    place-self: center;

    padding-top: 5em;
    margin-right: 28em;

    & img {
      width: 18em;
    }
  }

  .hero {
    place-items: center;
    grid-row: 1 / span 2;
    grid-column: 2;

    background: url(../images/hero-desktop.jpg) no-repeat;
    height: auto;
    background-size: cover;
  }

  .details {
    grid-row: 2;
    grid-column: 1;

    text-align: left;
    max-width: 50em;
    margin: auto;

    &__title {
      font-size: 4rem;
      letter-spacing: 15px;
    }
  }

  footer {
    font-size: 0.8rem;
    grid-column: 1;
    grid-row: 1 / span 2;
    margin-top: auto;
    margin-bottom: 1em;
  }
}